@import "libs/responsive.scss";
@import "libs/reset.scss";

@font-face {
	font-family: "Roboto";
	src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

$space-cadet: #2d3142ff;
$independence: #4f5d75ff;
$silver: #bfc0c0ff;
$white: #ffffffff;
$mandarin: #ef8354ff;

html {
	font-family: "Roboto";
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	scroll-behavior: smooth;
	background-color: lighten($color: $mandarin, $amount: 30);
}

body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 1500px;
	justify-content: space-between;
}

header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: $space-cadet;
	color: $silver;
	border-bottom: solid darken($color: $mandarin, $amount: 5) 3px;
	height: 70px;
	min-height: 70px;
	width: 100%;
	max-width: 1500px;
	z-index: 3;
	@media screen and (min-width: $medium) {
		align-items: center;
		min-height: 70px;
	}
}

#title {
	a {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0px;
		margin: 0px 0px 0px 6%;
		width: 30vw;
	}
	h1 {
		color: $silver;
		margin: 0px;
		font-size: 35px;
	}
	#subtitle {
		color: $silver;
		margin: 0px;
		font-size: 15px;
	}
	@media screen and (max-width: $medium) {
		a {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 80vw;
		}
		h1 {
			font-size: 28px;
		}
		#subtitle {
			font-size: 17px;
		}
	}
	@media screen and (max-width: $small) {
		a {
			width: 80vw;
		}
		h1 {
			font-size: 25px;
		}
		#subtitle {
			font-size: 12px;
		}
	}
}

#navopener {
	color: $mandarin;
	margin-right: 1rem;
	font-size: 40px;
	margin-top: 8px;
	cursor: pointer;
	@media screen and (min-width: $medium) {
		display: none;
	}
	@media screen and (max-width: $small) {
		font-size: 20px;
	}
}

.responsive {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #4f5d75e1;
	overflow-y: hidden;
	transition: 0.5s;
	@media screen and (max-height: 450px) {
		overflow-y: auto;
	}
	&-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	a {
		padding: 8px;
		margin-bottom: 5%;
		text-decoration: none;
		font-size: 36px;
		color: $mandarin;
		display: block;
		transition: 0.3s;
		&:hover {
			color: darken($color: $mandarin, $amount: 10);
		}
		&:focus {
			color: darken($color: $mandarin, $amount: 10);
		}
		@media screen and (max-height: 450px) {
			font-size: 20px;
		}
	}
	.closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
		@media screen and (max-height: 450px) {
			font-size: 40px;
			top: 15px;
			right: 35px;
		}
	}
}

.nonresponsive {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 68vw;
	max-width: 750px;
	padding-right: 5%;
	a {
		text-decoration: none;
		text-align: center;
		color: $mandarin;
		font-size: 2vw;
		padding-right: 3%;
		border-right: solid 2px $mandarin;
		@media screen and (min-width: $large) {
			font-size: 22px;
		}
		&:hover {
			color: darken($color: $mandarin, $amount: 10);
			transition: 200ms ease-in-out;
		}
	}
	@media screen and (max-width: $medium) {
		display: none;
	}
}

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: calc(100vh - 70px);
	max-height: 987px;
	margin-top: 70px;
	background-color: $independence;
	h2 {
		color: lighten($color: $mandarin, $amount: 10);
		align-self: flex-start;
		margin-left: 10%;
		font-size: 8vw;
		@media screen and (min-width: $large) {
			font-size: 85px;
		}
	}
	#home-subtitle {
		color: $silver;
		font-size: 6vw;
		@media screen and (min-width: $large) {
			font-size: 65px;
		}
	}
	#wish {
		color: darken($color: $silver, $amount: 20);
		font-size: 3vw;
		line-height: 2em;
		@media screen and (max-width: $medium) {
			text-align: center;
			font-size: 20px;
		}
		@media screen and (min-width: $large) {
			font-size: 35px;
		}
	}
	nav {
		height: 30%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#downarrow:hover {
		transform: translateY(10px);
		transition: ease-in-out 200ms;
	}
}

#navhomepage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	a {
		text-decoration: none;
		color: $mandarin;
		@media screen and (max-width: $small) {
			font-size: 25px;
		}
		@media screen and (max-width: $medium) and (min-width: $small) {
			font-size: 35px;
		}
		@media screen and (max-width: $large) and (min-width: $medium) {
			font-size: 27px;
		}
		@media screen and (min-width: $large) {
			font-size: 35px;
		}
	}
	@media screen and (min-width: $medium) {
		flex-direction: row;
		width: 90%;
	}
}

#skills {
	scroll-margin-top: 70px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background-color: lighten($color: $silver, $amount: 10);
	padding-bottom: 2em;
}

h3 {
	margin: 1em 0em 1em 1em;
	align-self: flex-start;
	font-size: 40px;
}

h4 {
	font-size: 25px;
	margin: 1em 0em 1em 6em;
	align-self: flex-start;
	@media screen and (max-width: $medium) {
		margin-left: 1em;
	}
}

.skill-group {
	@extend #skills;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 95%;
	justify-content: space-around;
}

.card {
	border: solid 3px black;
	border-radius: 10px;
	margin: 0.5em;
	width: 27%;
	max-width: 150px;
	padding: 1em;
	background-color: lighten($color: $mandarin, $amount: 30);
	box-shadow: 5px 2.5px 2.5px rgba(45, 49, 66, 0.651);
	a {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-decoration: none;
		img {
			width: 100%;
			max-height: 100px;
		}
	}
	p {
		color: black;
		font-size: 20px;
		text-align: center;
		margin-top: 0.5em;
		@media screen and (max-width: $small) {
			font-size: 17px;
		}
		&.marged-text {
			margin-top: 2em;
		}
	}
	&:hover {
		transform: scale(1.05);
		transition: ease-in-out 300ms;
	}
}

/**
Caroussel
*/

#projects {
	scroll-margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: lighten($color: $space-cadet, $amount: 10);
	background-color: lighten($color: $mandarin, $amount: 50);
	&_screenshots {
		width: 95%;
		max-width: 750px;
	}
	a {
		text-decoration: none;
		color: $mandarin;
		font-weight: bold;
		&:hover {
			color: darken($color: $mandarin, $amount: 10);
		}
	}
	p {
		margin: 1em 0em;
		text-align: justify;
		width: 85%;
		font-size: 19px;
		@media screen and (min-width: $large) {
			font-size: 24px;
		}
	}
	button {
		padding: 0.8em 1.6em;
		background-color: $mandarin;
		border-radius: 4px;
		font-size: 18px;
		font-family: "Roboto";
		font-weight: 500;
		outline: none;
		border: none;
		color: darken($color: $space-cadet, $amount: 10);
		margin-bottom: 3em;
		&:hover {
			background-color: darken($color: $mandarin, $amount: 5);
		}
	}
}

.carousel {
	position: relative;
	align-self: center;
	overflow: hidden;
	z-index: 0;
	&__container {
		transition: transform 300ms;
		transform: translate3d(0, 0, 0);
		&::after {
			content: "";
			clear: both;
			display: table;
		}
	}
	&__item {
		float: left;
		padding: 3em;
	}
}

.carousel__next {
	position: absolute;
	width: 40px;
	height: 40px;
	background: (transparentize($color: $white, $amount: 1))
		url("../../assets/img/elements/angle-right-solid.svg") center center
		no-repeat;
	background-size: 20px;
	border-radius: 50%;
	top: 50%;
	margin-top: -20px;
	right: 0px;
	cursor: pointer;
	transition: transform 300ms;
	&:hover {
		transform: scale(1.2);
	}
}

.carousel__prev {
	@extend .carousel__next;
	background: (transparentize($color: $white, $amount: 1))
		url("../../assets/img/elements/angle-left-solid.svg") center center
		no-repeat;
	right: auto;
	left: 0px;
}

#about {
	padding: 40px 0px;
	background-color: lighten($color: $independence, $amount: 40);
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		width: 95%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: $large) {
			flex-direction: column;
		}
		img {
			width: 90%;
			max-width: 600px;
		}
		.text {
			width: 90%;
			max-width: 680px;
			p {
				margin: 2em 0em;
				text-align: justify;
				font-size: 20px;
			}
			a {
				color: $mandarin;
				text-decoration: none;
				font-weight: bold;
				&:hover {
					color: darken($color: $mandarin, $amount: 10);
				}
			}
		}
	}
}

#contact {
	scroll-padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: lighten($color: $space-cadet, $amount: 25);
	color: $silver;
	p {
		width: 80%;
		font-size: 20px;
		@media screen and (min-width: $medium) {
			font-size: 30px;
		}
	}
	.links {
		display: flex;
		flex-direction: row;
		width: 70%;
		justify-content: space-between;
		align-items: center;
	}
	.socials {
		margin: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 60%;
	}
	a {
		margin: 1em;
		text-decoration: none;
		color: $mandarin;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&:hover {
			color: darken($color: $mandarin, $amount: 10);
		}
		img {
			margin-right: 1em;
		}
	}
	button {
		padding: 0.8em 1.6em;
		background-color: $mandarin;
		border-radius: 4px;
		font-size: 18px;
		font-family: "Roboto";
		font-weight: 500;
		outline: none;
		border: none;
		color: darken($color: $space-cadet, $amount: 10);
		margin: 1em 0em;
		&:hover {
			background-color: darken($color: $mandarin, $amount: 5);
		}
	}
}

footer {
	background-color: $space-cadet;
	div {
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	p {
		color: lighten($color: $mandarin, $amount: 30);
		font-size: 20px;
		align-self: center;
	}
}
